name: Deploy to Bare Metal AWS

on:
  push:
    branches: [dev]

env:
  AWS_REGION: eu-central-1
  EC2_INSTANCE_ID: i-0fc46869f8cb19815
  DEPLOY_DIR: /home/ubuntu/adom-tear-film-theoretical-spectra-generator

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy to Bare Metal via SSM
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Restarting Docker Compose
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ${{ env.DEPLOY_DIR }}
            docker compose down
            docker compose f compose.yaml up --build -d
